<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.provider.plat.mapper.RouteInfoMapper">
  <resultMap id="BaseResultMap" type="com.dk.provider.plat.entity.RouteInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
    <result column="norm_min" jdbcType="VARCHAR" property="normMin" />
    <result column="norm_max" jdbcType="VARCHAR" property="normMax" />
    <result column="time_begin" jdbcType="VARCHAR" property="timeBegin" />
    <result column="time_end" jdbcType="VARCHAR" property="timeEnd" />
    <result column="is_free" jdbcType="BIGINT" property="isFree" />
    <result column="states" jdbcType="BIGINT" property="states" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_delete" jdbcType="BIGINT" property="isDelete" />
  </resultMap>
  <resultMap id="DetailRouteInfoMap" type="com.dk.provider.plat.entity.DetailRouteInfo" extends="BaseResultMap">
    <result column="classId" jdbcType="BIGINT" property="classId" />
    <result column="className" jdbcType="VARCHAR" property="className" />
    <result column="costRate" jdbcType="VARCHAR" property="costRate" />
    <result column="costFee" jdbcType="VARCHAR" property="costFee" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, rate, fee, norm_min, norm_max, time_begin, time_end, is_free, states, `type`,
    remark, create_time, update_time, create_by, update_by, is_delete
  </sql>

  <sql id="table_name">
    t_routeinfo
  </sql>
  <sql id="sqlWhere">
    <where>
      states = 1
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="type != null and type != ''">
        and type = #{type,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <sql id="sqlPage">
    <choose>
      <when test="orderby!=null and orderby!=''">
        <![CDATA[ ORDER BY ${orderby}]]>
      </when>
      <otherwise>
        <![CDATA[ ORDER BY t.create_time DESC]]>
      </otherwise>
    </choose>
    <if test="start!=null and max!=null">
      <![CDATA[ LIMIT #{start}, #{max}]]>
    </if>
  </sql>



  <sql id="sqlRoutInfoPage">
    <if test="orderby!=null and orderby!=''">
      <![CDATA[ ORDER BY ${orderby}]]>
    </if>
    <if test="start!=null and max!=null">
      <![CDATA[ LIMIT #{start}, #{max}]]>
    </if>
  </sql>

  <!-- 查询(含条件查询)-->
  <!--<select id="query" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="table_name"/>
    <include refid="sqlWhere"/>
    <include refid="sqlPage"/>
  </select>-->

  <!-- 分页计数-->
  <!--<select id="counts" parameterType="map" resultType="java.lang.Integer">
    SELECT count(1)
    FROM
    <include refid="table_name"/>
    <include refid="sqlWhere"/>
  </select>-->

  <sql id="sqlWhereOne">
    and t.states=1
    <if test="classId != null and classId != ''">
      and cr.class_id = #{classId}
    </if>
    <if test="routId != null and routId != ''">
      and t.id = #{routId}
    </if>
    <if test="type != null and type != ''">
      and t.type = #{type}
    </if>
  </sql>
  <select id="query" parameterType="map" resultMap="BaseResultMap">
    select t.id,t.`name`,t.norm_min,norm_max,t.time_begin,t.time_end,t.is_free,remark,cr.fee,cr.rate,cls.id as class_id,cls.name as clsname
    from t_routeinfo t,t_class_rate cr,t_classinfo cls
    where cr.route_id = t.id and cls.id = cr.class_id
    <include refid="sqlWhereOne"/>
    <include refid="sqlPage"/>
  </select>
  <select id="counts" parameterType="map" resultType="java.lang.Integer">
    SELECT count(1)
    FROM t_routeinfo t,t_class_rate cr,t_classinfo cls
    where cr.route_id = t.id and cls.id = cr.class_id
    <include refid="sqlWhereOne"/>
    <include refid="sqlPage"/>
  </select>




  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_routeinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_routeinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dk.provider.plat.entity.RouteInfo">
    insert into t_routeinfo (id, `name`, rate, 
      fee, norm_min, norm_max, 
      time_begin, time_end, is_free, states,
      `type`, remark, create_time, 
      update_time, create_by, update_by, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, 
      #{fee,jdbcType=VARCHAR}, #{normMin,jdbcType=VARCHAR}, #{normMax,jdbcType=VARCHAR}, 
      #{timeBegin,jdbcType=VARCHAR}, #{timeEnd,jdbcType=VARCHAR}, #{isFree,jdbcType=BIGINT},
      #{states,jdbcType=BIGINT},
      #{type,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.provider.plat.entity.RouteInfo">
    insert into t_routeinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="normMin != null">
        norm_min,
      </if>
      <if test="normMax != null">
        norm_max,
      </if>
      <if test="timeBegin != null">
        time_begin,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
      <if test="is_free != null">
        is_free,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="normMin != null">
        #{normMin,jdbcType=VARCHAR},
      </if>
      <if test="normMax != null">
        #{normMax,jdbcType=VARCHAR},
      </if>
      <if test="timeBegin != null">
        #{timeBegin,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="isFree != null">
        #{isFree,jdbcType=BIGINT},
      </if>
      <if test="states != null">
        #{states,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dk.provider.plat.entity.RouteInfo">
    update t_routeinfo
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="normMin != null">
        norm_min = #{normMin,jdbcType=VARCHAR},
      </if>
      <if test="normMax != null">
        norm_max = #{normMax,jdbcType=VARCHAR},
      </if>
      <if test="timeBegin != null">
        time_begin = #{timeBegin,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="isFree != null">
        is_free = #{isFree,jdbcType=BIGINT},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dk.provider.plat.entity.RouteInfo">
    update t_routeinfo
    set `name` = #{name,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      norm_min = #{normMin,jdbcType=VARCHAR},
      norm_max = #{normMax,jdbcType=VARCHAR},
      time_begin = #{timeBegin,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=VARCHAR},
      is_free = #{isFree,jdbcType=BIGINT},
      states = #{states,jdbcType=BIGINT},
      `type` = #{type,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <select id="parentRouteCount" parameterType="Map" resultType="java.lang.Integer">
  select
    count(0)
    from t_classinfo tci
    left join t_class_rate tc on  tci.id = tc.class_id
    left join t_routeinfo tr on tc.route_id = tr.id
    where tci.id = #{classId}
  </select>


  <select id="parentRouteInfo" parameterType="Map" resultMap="DetailRouteInfoMap">
  select
    tr.id, tr.name, tr.rate costRate, tr.fee costFee, tr.norm_min, tr.norm_max,
    tr.time_begin, tr.time_end, tr.is_free, tr.states, tr.type,
    tr.remark, tr.create_time, tr.update_time, tr.create_by, tr.update_by, tr.is_delete,
    tci.id classId,tci.name className,tc.rate,tc.fee
    from t_classinfo tci
    left join t_class_rate tc on  tci.id = tc.class_id
    left join t_routeinfo tr on tc.route_id = tr.id
    where tci.id = #{classId}
    <include refid="sqlRoutInfoPage"/>
  </select>



  <select id="routeInfoByUserCount" parameterType="Map" resultType="java.lang.Integer">
  select
      count(0)
      from t_user tu
      left join t_class_rate tc on tu.class_id = tc.class_id
      left join t_routeinfo tr on tc.route_id = tr.id
      where tu.id = #{userId}
  </select>


  <select id="routeInfoByUser" parameterType="Map" resultMap="DetailRouteInfoMap">
  select
      tr.id, tr.name, tr.rate costRate, tr.fee costFee, tr.norm_min, tr.norm_max,
      tr.time_begin, tr.time_end, tr.is_free, tr.states, tr.type,
      tr.remark, tr.create_time, tr.update_time, tr.create_by, tr.update_by, tr.is_delete,
      tu.class_id classId,tu.class_name className,tc.rate,tc.fee
      from t_user tu
      left join t_class_rate tc on tu.class_id = tc.class_id
      left join t_routeinfo tr on tc.route_id = tr.id
      where tu.id = #{userId}
      <include refid="sqlRoutInfoPage"/>
  </select>
</mapper>