<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.provider.classI.mapper.ClassRateMapper">
  <resultMap id="BaseResultMap" type="com.dk.provider.classI.entity.ClassRate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="route_id" jdbcType="BIGINT" property="routeId" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_id, route_id, rate, fee
  </sql>

  <sql id="table_name">
    t_sub_user
  </sql>
  <sql id="sqlWhere">
    <where>
      <if test="classId != null and classId != ''">
        and class_id = #{classId}
      </if>
      <if test="routeId != null and routeId != ''">
        and route_id = #{routeId}
      </if>
    </where>
  </sql>
  <select id="query" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="table_name"/>
    <include refid="sqlWhere"/>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_class_rate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_class_rate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dk.provider.classI.entity.ClassRate">
    insert into t_class_rate (id, class_id, route_id, 
      rate, fee)
    values (#{id,jdbcType=BIGINT}, #{classId,jdbcType=BIGINT}, #{routeId,jdbcType=BIGINT}, 
      #{rate,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.provider.classI.entity.ClassRate">
    insert into t_class_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="fee != null">
        fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dk.provider.classI.entity.ClassRate">
    update t_class_rate
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        route_id = #{routeId,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dk.provider.classI.entity.ClassRate">
    update t_class_rate
    set class_id = #{classId,jdbcType=BIGINT},
      route_id = #{routeId,jdbcType=BIGINT},
      rate = #{rate,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>