<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.provider.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dk.provider.user.entity.User">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="refer_no" jdbcType="VARCHAR" property="referNo" />
    <result column="oem_id" jdbcType="VARCHAR" property="oemId" />
    <result column="states" jdbcType="BIGINT" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_delete" jdbcType="BIGINT" property="isDelete" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, user_no,
      phone, `password`, `identity`,
      refer_no, oem_id, states,
      create_time, update_time, create_by,
      update_by, is_delete, img_url,
      class_id, class_name
  </sql>

  <insert id="insert" parameterType="com.dk.provider.user.entity.User" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into t_user ( `name`, user_no,
      phone, `password`, `identity`, 
      refer_no, oem_id, states, 
      create_time, update_time, create_by, 
      update_by, is_delete, img_url, 
      class_id, class_name)
    values (#{name,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, 
      #{referNo,jdbcType=VARCHAR}, #{oemId,jdbcType=VARCHAR}, #{states,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIGINT}, #{imgUrl,jdbcType=VARCHAR}, 
      #{classId,jdbcType=BIGINT}, #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.provider.user.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="identity != null">
        `identity`,
      </if>
      <if test="referNo != null">
        refer_no,
      </if>
      <if test="oemId != null">
        oem_id,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="referNo != null">
        #{referNo,jdbcType=VARCHAR},
      </if>
      <if test="oemId != null">
        #{oemId,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="isPhoneRegisterOem" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where 1 = 1
    and is_delete = 1
    <if test="phone != null and phone != ''">
      and phone = #{phone}
    </if>
    <if test="oemId != null and oemId != ''">
      and oem_id = #{oemId}
    </if>
  </select>

  <select id="searchReferPeople" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where 1 = 1
    and states = 1
    and is_delete = 1
    <if test="referPhone != null and referPhone != ''">
      and phone = #{referPhone}
    </if>
    <if test="oemId != null and oemId != ''">
      and oem_id = #{oemId}
    </if>
  </select>

  <update id="updateByBindCard" parameterType="Map">
  update t_user
  set name = #{name,jdbcType=VARCHAR}
  ,identity = #{identity,jdbcType=VARCHAR}
  ,update_time = #{updateTime,jdbcType=TIMESTAMP}
  where id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>