<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd          
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <context:property-placeholder location="classpath:application.properties"/>

	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="${dubbo.application.name}" />

	<dubbo:registry address="${dubbo.registry.address}" timeout="30000" protocol="zookeeper"/>

	<dubbo:consumer check="false" timeout="30000" />

	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->

	<!-- -->
	<!--<dubbo:reference id="interfaceRecordService" interface="com.dk.provider.test.service.InterfaceRecordService" check="false" />
-->
	<dubbo:reference id="redisCacheService" interface="com.dk.provider.basis.service.RedisCacheService" check="false" />
	<dubbo:reference id="routeInfoService" interface="com.dk.provider.plat.service.RouteInfoService" check="false" />
    <dubbo:reference id="smsRecordService" interface="com.dk.provider.plat.service.SmsRecordService" check="false" />
	<dubbo:reference id="receiveRecordService" interface="com.dk.provider.repay.service.ReceiveRecordService" check="false" />
	<dubbo:reference id="subchannelService" interface="com.dk.provider.plat.service.SubchannelService" check="false" />

</beans>
