<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName"> 
	
	<context:property-placeholder location="classpath:application.properties"/>
	<context:annotation-config />
	<aop:aspectj-autoproxy />

	<dubbo:provider delay="-1" timeout="3000" retries="0"/>

	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.application.name}" />

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />

	<!--使用注解方式暴露接口 -->

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="${dubbo.registry.address}"	/>

	<!-- 设置超时时间 -->
	<dubbo:consumer check="false" timeout="30000" />


	<dubbo:service interface="com.dk.provider.basis.service.RedisCacheService" ref="redisCacheService"/>
	<dubbo:service interface="com.dk.provider.plat.service.RouteInfoService" ref="routeInfoService"/>
	<dubbo:service interface="com.dk.provider.plat.service.SmsRecordService" ref="smsRecordService"/>
	<dubbo:service interface="com.dk.provider.repay.service.ReceiveRecordService" ref="receiveRecordService"/>
	<dubbo:service interface="com.dk.provider.plat.service.SubchannelService" ref="subchannelService"/>
	<dubbo:service interface="com.dk.provider.oem.service.IOemInfoService" ref="oemInfoServiceImpl"/>
	<dubbo:service interface="com.dk.provider.user.service.IUserService" ref="userServiceImpl"/>
	<dubbo:service interface="com.dk.provider.user.service.IUserAccountService" ref="userAccountServiceImpl"/>
	<dubbo:service interface="com.dk.provider.user.service.ICardInfoService" ref="cardInfoServiceImpl"/>
	<dubbo:service interface="com.dk.provider.user.service.BankService" ref="bankService"/>
	<dubbo:service interface="com.dk.provider.basic.service.AreaService" ref="areaService"/>

</beans>

