<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.provider.repay.mapper.ReceiveRecordMapper">
  <resultMap id="BaseResultMap" type="com.dk.provider.repay.entity.ReceiveRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
    <result column="rece_card" jdbcType="VARCHAR" property="receCard" />
    <result column="settle_card" jdbcType="VARCHAR" property="settleCard" />
    <result column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="sub_id" jdbcType="VARCHAR" property="subId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="states" jdbcType="BIGINT" property="states" />
    <result column="order_desc" jdbcType="VARCHAR" property="orderDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, user_id, amount, rate, fee, rece_card, settle_card, route_id, sub_id, province,
    city, industry, merchant, states, order_desc,
    create_time
  </sql>

  <sql id="table_name">
    t_receive_record
  </sql>
  <sql id="sqlWhere">
    <where>
      <if test="orderNo != null and orderNo != ''">
        and order_no = #{orderNo,jdbcType=BIGINT}
      </if>
      <if test="userId != null and userId != ''">
        and user_id = #{userId}
      </if>
    </where>
  </sql>

  <sql id="sqlPage">
    <choose>
      <when test="orderby!=null and orderby!=''">
        <![CDATA[ ORDER BY ${orderby}]]>
      </when>
      <otherwise>
        <![CDATA[ ORDER BY create_time DESC]]>
      </otherwise>
    </choose>
    <if test="start!=null and max!=null">
      <![CDATA[ LIMIT #{start}, #{max}]]>
    </if>
  </sql>

  <select id="query" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    <include refid="table_name"/>
    <include refid="sqlWhere"/>
    <include refid="sqlPage"/>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_receive_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_receive_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dk.provider.repay.entity.ReceiveRecord" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into t_receive_record ( order_no, user_id,
      amount, rate, fee, 
      rece_card, settle_card, route_id, sub_id, province,
      city, industry, merchant,
      states, order_desc, create_time)
    values(#{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{amount,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR}, 
      #{receCard,jdbcType=VARCHAR}, #{settleCard,jdbcType=VARCHAR}, #{routeId,jdbcType=VARCHAR},#{subId,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR},#{industry,jdbcType=VARCHAR},#{merchant,jdbcType=VARCHAR},
      #{states,jdbcType=BIGINT},#{orderDesc,jdbcType=VARCHAR}, SYSDATE())
  </insert>



  <insert id="insertSelective" parameterType="com.dk.provider.repay.entity.ReceiveRecord">
    insert into t_receive_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="receCard != null">
        rece_card,
      </if>
      <if test="settleCard != null">
        settle_card,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="subId != null">
        sub_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="merchant != null">
        merchant,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="orderDesc != null">
        order_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="receCard != null">
        #{receCard,jdbcType=VARCHAR},
      </if>
      <if test="settleCard != null">
        #{settleCard,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        #{subId,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null">
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=BIGINT},
      </if>
      <if test="orderDesc != null">
        #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        SYSDATE(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dk.provider.repay.entity.ReceiveRecord">
    update t_receive_record
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="receCard != null">
        rece_card = #{receCard,jdbcType=VARCHAR},
      </if>
      <if test="settleCard != null">
        settle_card = #{settleCard,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null">
        route_id = #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        sub_id = #{subId,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null">
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=BIGINT},
      </if>
      <if test="orderDesc != null">
        order_desc = #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dk.provider.repay.entity.ReceiveRecord">
    update t_receive_record
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      rece_card = #{receCard,jdbcType=VARCHAR},
      settle_card = #{settleCard,jdbcType=VARCHAR},
      route_id = #{routeId,jdbcType=VARCHAR},
      sub_id = #{subId,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      merchant = #{merchant,jdbcType=VARCHAR},
      states = #{states,jdbcType=BIGINT},
      order_desc = #{orderDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateStates" parameterType="com.dk.provider.repay.entity.ReceiveRecord">
    update t_receive_record
    set
    states = #{states,jdbcType=BIGINT},
    order_desc = #{orderDesc,jdbcType=VARCHAR}
    where
    order_no = #{orderNo,jdbcType=VARCHAR}
  </update>


  <select id="historyCounts" parameterType="Map" resultType="java.lang.Integer">
    SELECT count(1)
    FROM t_receive_record
    where user_id = #{userId}
  </select>


  <select id="historyQuery" parameterType="Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_receive_record
    where user_id = #{userId}
    <include refid="sqlPage"/>
  </select>
</mapper>